<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar affix">
      <ul class="nav nav-sidebar">
        <li ng-repeat="feed in feeds | orderBy: 'name'" ng-click="selectFeed(feed)">
          <a href="#">{{feed.name}} <span ng-if="(countNonRead=countNonReadArticles(feed))" class="badge">{{countNonRead}}</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        <div class="col-sm-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Feed name" ng-model="feedName" ng-required="true">
            <input type="text" class="form-control" placeholder="RSS/Atom URL" ng-model="feedUrl" ng-required="true">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="addFeed(feedName, feedUrl)">Add</button>
            </span>
          </div>
        </div>
      </div>
      <h1 class="page-header">
        {{selectedFeed.name || 'Select a feed from sidebar'}}
      </h1>
      <div class="buttons-for-feed">
        <button ng-if="selectedFeed" type="button" class="btn btn-default" ng-click="readFeed(selectedFeed)">Mark as read</button>
      </div>
      <div class="panel panel-default" ng-repeat="article in articles | filter: { sourceFeed: selectedFeed._id } | filter: { read: false } | orderBy: '-date'">
        <div class="panel-heading">
          <h2 class="panel-title article-title"><a ng-href="{{article.link}}" ng-click="read(article)" target="_blank">{{article.title}}</a></h2> {{article.date}}
        </div>
        <div ng-if="article.summary" class="panel-body">
          <span ng-bind-html="article.summary"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>