<div ng-include="'components/navbar/navbar.html'"></div>

<div layout="column">
  <h1 class="md-display-1">Change Password</h1>
  <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
    <div class="form-group">
      <div layout="row" layout-sm="column">
        <md-input-container>
          <label>Current Password</label>
          <input ng-model="user.oldPassword" type="password" mongoose-error />
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
          </p>
        </md-input-container>
        <md-input-container>
          <label>New Password</label>
          <input ng-model="user.newPassword" type="password" ng-minlength="3" required />
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </md-input-container>
      </div>
    </div>
    <p class="help-block"> {{ message }} </p>
    <md-button class="md-accent md-raised" type="submit">Save changes</md-button>
  </form>
</div>