<div layout="column">
  <h1 class="md-display-1">Login</h1>
  <p class="md-body-1">Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
  <p class="md-body-1">Admin account is <code>admin@admin.com</code> / <code>admin</code></p>

  <form class="form" name="form" ng-submit="login(form)" novalidate>
    <div layout="row" layout-sm="column">
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input ng-model="user.password" type="password">
      </md-input-container>
    </div>
    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
        Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && submitted">
        Please enter a valid email.
      </p>

      <p class="help-block">{{ errors.other }}</p>
    </div>

    <div layout="row">
      <md-button class="md-primary md-raised" type="submit">
        Login
      </md-button>
      <md-button href="/signup">
        Register
      </md-button>
    </div>

  </form>
</div>